@import './fonts.css';
@import "../../apps/mail/assets/css/mail-main.css";
@import "./cmps/nav-header-cmps.css";
@import "./helpers.css";
@import "./cmps/modal.css";
@import "./home.css";
@import "../../apps/book/assets/css/book-main.css";
@import "../../apps/note/assets/css/note-main.css";
* {
  box-sizing: border-box;
}

body {
  background-color: #dfe6e9;
  margin: 0;
}

/* LOADER */

.loader.modal-container {
  z-index: 2;
  height: 100vh;
  background-color: rgb(32, 31, 31);
}

.loader-svg {
  margin-top: 0;
  width: 80vw;
}

textarea {
  resize: none;
}