.book-app {
    overflow: auto;
    font-family: poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-ser;
}

.book-filter {
    flex-direction: column;
    padding: 5px;
}

.book-filter>* {
    padding: 5px;
}

.book-filter-btn {
    margin-top: 10px;
}

.book-container {
    margin-top: 45px;
    font-family: poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-ser;
    display: flex;
    flex-direction: column;
}