.note-container{
    display:flex;
    flex-direction:column;
    background-color: #fff;
    padding: .4rem;
    width:250px;
    word-wrap: break-word;
    box-shadow:0 0 5px black;
    
}
.note-container img{
  width: 100%;
  
}


  .note-container >*{
     padding: .3rem;
  }

  .list-todos span{
    position: relative;
    left:-5px;
  }

  
  .list-todos{
    margin-inline-start: 20px;
  }
  .audio-container{
    width: 100%;
  }
  